@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
}
/* common shared style */
#text-primary {
  font-family: "Merriweather", serif;
}
#text-secondary {
  font-family: "Inter", sans-serif;
}

/* header style starts */

.header-container {
  margin: 0 auto;
  width: 1120px;
  height: 510px;
  position: relative;
}
.gradient {
  height: 100%;
  width: 100%;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  position: absolute;
}
.banner-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner-title {
  position: absolute;
  top: 22%;
  left: 41%;
  color: #fff;
  text-align: center;
  font-size: 26px;
  font-weight: 400;
}
.banner-message {
  position: absolute;
  top: 30%;
  left: 27%;
  width: 500px;
  color: #fff;
  text-align: center;
  font-size: 60px;
  font-weight: 900;
}

/* header style end */

/* offer section style start */
.offer-sec-container {
  display: flex;
  flex-direction: column;
}
.offer-title {
  color: #f00;
  text-align: center;
  font-size: 88px;
  font-weight: 700;
  margin-block-start: 90px;
  margin-block-end: 40px;
}
.offer-sub-title {
  color: #f00;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-block-start: 0;
  margin-block-end: 0;
}
.offer-details {
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-block-start: 20px;
  margin-block-end: 30px;
}
.offer-image {
  width: 680px;
  height: 425px;
  margin: 0 auto;
}
/* offer section style end */

/* party banner section style start */
.party-container {
  margin: 100px auto;
  width: 1120px;
  height: 510px;
  position: relative;
}
.gradient2 {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  border-radius: 10px;
  position: absolute;
}
.party-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.party-heading {
  color: #fff;
  font-size: 50px;
  width: 545px;
  font-weight: 900;
  position: absolute;
  top: 90px;
  left: 120px;
}
.party-description {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  width: 590px;
  font-weight: 400;
  position: absolute;
  top: 260px;
  left: 120px;
}
.party-button {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: 355px;
  left: 145px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.party-button:hover {
  background: linear-gradient(
    90deg,
    rgba(7, 0, 0, 0) 0%,
    rgb(255, 166, 0) 100%
  );
}
.party-icon {
  height: 80%;
  position: absolute;
  top: 40px;
  right: 95px;
}

/* party banner section style end */

/* join description section style start */
.join-description {
  margin: 100px auto;
  width: 1120px;
  height: 510px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 16px;
}
.join-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 65px;
  justify-content: space-evenly;
}
.join-container .join-info > span {
  color: #f00;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
}
.join-container > h3{
  margin-block-start: 20px;
  margin-block-end: 10px;

}
.join-container > button{
  margin-block-start: 50px;

}


.join-info {
  color: #070211;
  font-size: 32px;
  font-weight: 600;
}

.join-button {
  border-radius: 8px;
  border: none;
  background: #f00;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
.join-button:hover{
  background: linear-gradient(
    130deg,
    rgba(228, 5, 191, 0.466) 0%,
    rgba(102, 5, 180, 0.568) 100%
  );
}
/* join description section style stop */
